body{
    background-color: aquamarine;
}
h1{
    color: white;
}
.heading-center{
    text-align: center;
}
.center{
    color: red;
    text-align: center;
}
.unordered-list-container{
    background-color: rgb(69, 205, 205);
    padding: 5px;
}
.unordered-list-container ul{
    background-color:  rgb(205, 220, 117);
}


.ordered-list-container{
    margin-top:15px;
    background-color: blue;
    padding: 5px;
}

.ordered-list-container li{
    background-color: red;
    margin:5px;
}



